body {
	margin:0;
	padding:0;
	width:100%;
	background:url(../images/bg.jpg);
	z-index:0;
}

.main {
	position:absolute;
	top:0 px;left: 0; right: 0; bottom: 0;
    overflow: auto;
	padding:0;
	margin:auto;
	background:url(../images/main_bg.jpg) repeat-y center;
	width:968px;
	height:100%;
	text-align:center;
	z-index:1;
}
div.box{
	margin-top: 30px;
}

.box > article  p{
	color:gray;
	text-align: left;
}
.borrow input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 5px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}



.borrow input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
.borrow input[type=submit]:hover{
	opacity: 0.8;
}

.borrow input[type=submit]:active{
	opacity: 0.6;
}

.borrow input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}


.borrow input[type=submit]:focus{
	outline: none;
}
table {
	border: none;
	
	padding: 0px;
	border-spacing: 0px;
}

table tbody tr:nth-child(odd) {
	padding: 4px;
    background: #bbb;
}

table tr:hover {
    background: #444488;
    cursor: pointer;
}
table td {
	width: 8%;
	padding: 0px;
	border: 0px;
}
table th{
	padding: 0px;
	border: 0px;
	color: #aaa;
}


.myForm{
	color: #777;
	font-size: 16px;
	line-height: 20px;
}
.formLeft{
	float: left;
	width: 45%;
	text-align: right;
	line-height: 1.5;
	margin-right: 10px;
}
.formRight{
	width: auto;
	text-align: left;
	line-height: 1.5;
}
img.addImage{
	width:30px;
	height: 30px;
}