body {
	margin:0;
	padding:0;
	width:100%;
	background:url(../images/bg.jpg);
	z-index:0;
}

.main {
	position:absolute;
	top:0 px;left: 0; right: 0; bottom: 0;
    overflow: auto;
	padding:0;
	margin:auto;
	background:url(../images/main_bg.jpg) repeat-y center;
	width:968px;
	height:100%;
	text-align:center;
	z-index:1;
}
div.box{
	margin-top: 30px;
}

.box > article  p{
	color:gray;
	text-align: left;
}
.borrow input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 5px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}



.borrow input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
.borrow input[type=submit]:hover{
	opacity: 0.8;
}

.borrow input[type=submit]:active{
	opacity: 0.6;
}

.borrow input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}


.borrow input[type=submit]:focus{
	outline: none;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
